<section class="section">
<div class="row">
  <div class="col-md-12">
    <h1>New Team</h1>
    <%= render 'form', team: @team %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', teams_path %>
  </div>
</div>
</section>