<section class="section">
<div class="row">
  <div class="col-md-12">
    <h1>Edit Lead Source</h1>
    <%= render 'form', lead_source: @lead_source %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Show', @lead_source %> |
    <%= link_to 'Back', lead_sources_path %>
  </div>
</div>
</section>