<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>New Lead Source</h1>
      <%= render 'form', lead_source: @lead_source %>

    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= link_to 'Back', lead_sources_path %>
    </div>
  </div>
</div>
