!/tmp/.keep
*.backup
*.sw?
.DS_STORE
.byebug_history
.env
.pryrc
.sass-cache
.yarn-integrity
/.bundle
/log/*
/node_modules
/public/packs
/public/packs-test
/tmp/*
/yarn-error.log
coverage/
env.production*
env.staging*
latest.dump*
public/assets/
spec/examples.txt
storage/
yarn-debug.log*
.DS_Store
._.DS_Store
.vectordatadb
.vectordatadb
node_modules
