.Filters {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.FilterGroup {
  padding: 1em;
}

.FilterSection {
  padding: 1em;
}

.FilterListing {

}

.RemoveFilter {
  color: #337ab7;
  font-weight: bold;

  &:link {
    text-decoration: none;
  }

  &:hover {
    color: #337ab7;
    text-decoration: none;
  }

  &:visited {
    color: #337ab7;
  }

}

.timezoneIndicator {
  padding: 0.75em 1em;
  margin: 1em 0 0.5em 1em;
  background: #f8f9fa;
  border-radius: 4px;
  font-size: 0.9em;
  color: #6c757d;
  border-left: 3px solid #337ab7;
  display: flex;
  align-items: center;
  clear: both;
  width: calc(100% - 2em);

  .glyphicon-time {
    color: #337ab7;
    margin-right: 8px;
    font-size: 1.1em;
  }
}

