body {
  margin-bottom: 100px !important;
}

.footer {
  z-index: 999;
  position: fixed;
  left: 230px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 2em;
  background-color: #f5f5f5;
}

.footer > .container {
  margin: 5px 0;
  text-align: center;
}

