<div class="row">
  <div class="col-md-6">
    <h3>Help</h3>
    <p>
      Compose or paste your Message Template into the text fields above. You have the option
      of including autofill variables that will automatically be inserted when this Message
      Template is used. Examples of these variables are listed to the right. The availability
      of the autofill variables depend on context.
    </p>
    <p>
      <em>The opening "{{" and closing "}}" braces are required. </em>
    </p>
   </div>
  <div class="col-md-6 autofill-help__section">
    <h4 class="autofill-help__title">Auto-Fill Variables</h4>
    <dl class="autofill_help autofill-help__list">
      <dt>{{lead_name}}</dt>
      <dd>The Lead's full name</dd>
      <dt>{{lead_title}}</dt>
      <dd>The Lead's title (Ms/Mr/etc)</dd>
      <dt>{{lead_first_name}}</dt>
      <dd>The Lead's first name</dd>
      <dt>{{lead_last_name}}</dt>
      <dd>The Lead's last name</dd>
      <dt>{{lead_floorplan}}</dt>
      <dd>The Lead's preferred floorplan (Unit Type)</dd>
      <dt>{{agent_name}}</dt>
      <dd>the lead agent's name</dd>
      <dt>{{agent_title}}</dt>
      <dd>The Lead agent's title</dd>
      <dt>{{agent_first_name}}</dt>
      <dd>The Lead agent's first name</dd>
      <dt>{{agent_last_name}}</dt>
      <dd>The Lead agent's last name</dd>
      <dt>{{property_name}}</dt>
      <dd>Property name</dd>
      <dt>{{property_city}}</dt>
      <dd>Property city name</dd>
      <dt>{{property_address}}</dt>
      <dd>Property Address</dt>
      <dt>{{property_address_html}}</dt>
      <dd>Property Address (with HTML line breaks)</dt>
      <dt>{{property_amenities}}</dt>
      <dd>Property amenities</dd>
      <dt>{{property_website}}</dt>
      <dd>Property website url</dd>
      <dt>{{property_phone}}</dt>
      <dd>Property phone number</dd>
      <dt>{{property_school_district}}</dt>
      <dd>Property school district</dd>
      <dt>{{property_application_url}}</dt>
      <dd>Link to Rental Application</dd>
      <dt>{{property_virtual_tour_booking_url}}</dt>
      <dd>Link for virtual tour self-booking</dd>
      <dt>{{property_in_person_tour_booking_url}}</dt>
      <dd>Link for in-person tour self-booking</dd>
      <dt>{{html_email_header_image}}</dt>
      <dd>Sapphire header image</dd>
      <dt>{{email_business_logo}}</dt>
      <dd>Business Logo</dd>
      <dt>{{email_housing_logo}}</dt>
      <dd>Equal Opportunity Housing Logo</dd>
      <dt>{{email_unsubscribe_link}}</dt>
      <dd>Link for lead to unsubscribe from emails</dd>
      <dt>{{schedule_date}}</dt>
      <dd>Calendar date of scheduled meeting <i>(Task Notifications Only)</i></dd>
      <dt>{{schedule_time}}</dt>
      <dd>Time of scheduled meeting <i>(Task Notifications Only)</i></dd>
    </dl>
  </div>
</div>
  </div>
