<div class="row">
  <div class="col-md-8">
    <h3>Help</h3>
    <p>
      Compose or paste your Message Template into the text fields above. You have the option
      of including autofill variables that will automatically be inserted when this Message
      Template is used. Examples of these variables are listed to the right. The availability
      of the autofill variables depend on context.
    </p>
    <p>
      <em>The opening "{{" and closing "}}" braces are required. </em>
    </p>
  </div>
  <div class="col-md-4">
    <h4>Auto-Fill Variables</h4>
    <dl class="autofill_help">
      <dt>{{lead_name}}</dt>
      <dd>The Lead's full name</dd>
      <dt>{{lead_floorplan}}</dt>
      <dd>The Lead's preferred floorplan (Unit Type)</dd>
      <dt>{{agent_name}}</dt>
      <dd>The Lead agent's name</dd>
      <dt>{{agent_title}}</dt>
      <dd>The Lead agent's title</dd>
      <dt>{{property_name}}</dt>
      <dd>Property name</dd>
      <dt>{{property_city}}</dt>
      <dd>Property city name</dd>
      <dt>{{property_amenities}}</dt>
      <dd>Not Implemented</dd>
      <dt>{{property_website}}</dt>
      <dd>Property website url</dd>
      <dt>{{property_phone}}</dt>
      <dd>Property phone number</dd>
    </dl>
  </div>
</div>
  </div>
