<div class="row">
  <div class="col-md-4">
    <span id="glyph_sample_legend_toggle" class="btn btn-xs btn-info">Show Legend</span>
  </div>
</div>

<div id="glyph_sample_legend" class="row" style="display: none;">
  <div class="col-md-12">
    <h4>Available Glyphs</h4>
    <% GLYPHS.each do |glyph| %>
      <div class="glyph_sample">
        <span class="glyph_sample_glyph"><%= glyph(glyph.first) %></span><br/>
        <span class="glyph_sample_name"><%= glyph.first %></span>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(function(){

    // Hook up Toggle Button
    $("#glyph_sample_legend_toggle").on('click', function(e){
      $("#glyph_sample_legend").slideToggle();
    });

    // Select

  })
</script>
