<div class="row">
  <div class="col-md-12">
    <h1>Edit Lead Action</h1>
    <%= render 'form', lead_action: @lead_action %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Show', @lead_action %> |
    <%= link_to 'Back', lead_actions_path  %>
  </div>
</div>
