<div class="row">
  <div class="col-md-12">
    <h2>Employees</h2>
    <%if @property.users.empty? %>
      <p>None</p>
    <% end %>
    <ul>
      <% @property.users.each do |user| %>
        <li>
          <b> <%= user.name %> </b>(<%= user.property_role(@property).capitalize %>)
        </li>
      <% end %>
    </ul>
  </div>
</div>
