<div class="row">
  <div class="col-md-12">
    <h2>Agents</h2>
    <% if @property.agents.empty? %>
      <p>None</p>
    <% end %>

    <ul>
      <% @property.agents.each do |agent| %>
        <li><%= link_to(agent.name, user_path(agent)) %> (<%= agent.title_for_property(@property) %>)</li>
      <% end %>
    </ul>
  </div>
</div>
