<div class="row">
  <div class="col-md-12">
    <h2>Unit Types</h2>
    <% if @property.unit_types.empty? %>
      <p>None</p>
    <% end %>
    <p>
      <%= link_to(new_property_unit_type_path(@property) ) do %>
        <%= glyph(:create) %>
        New
      <% end %>
    </p>
    <ul>
      <strong><%= link_to("View All", property_unit_types_path(@property)) %> </strong>
      <% @property.unit_types.order(name: 'ASC').limit(10).each do |unit_type| %>
        <li><%= link_to(unit_type.name, unit_type_path(unit_type)) %></li>
      <% end %>
    </ul>
  </div>
</div>
