<footer class="footer">
  <div class="container">
    <p class="text-muted">BlueSky Lead Management &copy; 2018-<%= Date.today.year %> Bluestone Properties (v.<%= BlueskyWeb::VERSION %>)</p>
  </div>
</footer>
