<footer class="footer">
  <div class="container">
    <%= render partial: 'shared/impersonation' %>
    <p class="text-muted">
      <span id="copyright_notice">
        Bluesky Lead Management &copy; 2018-<%= Date.current.year %> Bluecrest Residential
        (<span id="bluesky_version">v.<%= BlueskyWeb::VERSION %></span>)
      </span>
    </p>
  </div>
</footer>
