<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> <span class="glyphicon glyphicon-tree-deciduous" /> </a>
        <a class="navbar-brand" href="/"> Druid </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse ">
        <ul class="nav navbar-nav col-md-4">
          <li class="active"><a href="#">Home</a></li>
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" "dropdown">Leads</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret" />
                <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span> My Leads</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Unclaimed Leads</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span> Active Leads</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-check"></span> Closed Leads</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Create Lead</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
