<div class="row">
  <div class="col-md-12">
    <h1>New Reason</h1>
    <%= render 'form', reason: @reason %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', reasons_path  %>
  </div>
</div>
