<div class="section-header section-header--warning">
  <div class="section-header__content">
    <div class="section-header__icon">
      <%= glyph(:duplicate) %>
    </div>
    <h3 class="section-header__title">
      Possible Duplicates
      <span class="section-header__count"><%= lead.duplicate_records.count %></span>
    </h3>
  </div>
</div>
<div class="duplicates-container">
  <%= render partial: "duplicates_v2", locals: {duplicates: lead.duplicate_records} %>
</div>
