<div class="row messages" id="lead_messages">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-2">
        <h2>Messages</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <% if lead.messages.empty? %>
          <em>None</em>
        <% end %>
        <ul>
          <% if @lead.optout_email? %>
            <li><b>This Lead has opted out of email notifications.</b></li>
          <% end %>
          <% if !@lead.optin_sms? %>
            <li>
              <b>This Lead has not yet agreed to SMS messaging</b>
              <% if policy(lead).resend_sms_opt_in_message? %>
                    <%= link_to(resend_sms_opt_in_message_lead_path(id: lead.id), method: :post) do %>
                     <span class='btn btn-sm btn-primary'>Resend Now</span>
                   <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <%= render partial: "messages/new_message_callout", locals: {messageable: lead} %>
        <% lead.roommates.each do |roommate| %>
          <%= render partial: "messages/new_message_callout", locals: {messageable: roommate} %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <% if lead.messages.any? %>
        <table class="table message_list">
          <thead>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <% lead.messages.display_order.each do |message| %>
              <% next unless policy(message).show? %>
              <%= render partial: 'message', locals: { lead: lead, message: message } %>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>

  </div>
</div>
