<div class="row">
  <div class="col-md-8">
    <% if search.total_pages > 1 %>
      <%= link_to("Next", request.parameters.merge({lead_search: search.next_page_options}), class: "btn btn-default") %>
    <% end %>
    <% ( search.total_pages).times do |page_index| %>
      <% link_class = ( ( page_index + 1) == ( search.current_page ) ? "btn-info" : "btn-default" ) %>
      <%= link_to(page_index + 1, request.parameters.merge({lead_search: search.page_options(page_index + 1)}), class: "btn #{link_class}") %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <small><%= pluralize(search.record_count, "record") %> found</small> 
  </div>
</div>
