<div class="state_toggle">
  <div class="row">
    <div class="btn-group col-md-12">
      <button type="button" class="btn dropdown-toggle btn-info" data-toggle="dropdown">
        <%= ( lead.state || '(None)' ).capitalize %>
      <% if policy(lead).permitted_state_events.any? %>
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      <% end %>
      </button>
      <% if policy(lead).permitted_state_events.any? %>
      <ul class="dropdown-menu">
        <% policy(lead).permitted_state_events.each do |event_name| %>
          <li>
            <%= link_to(trigger_state_event_lead_path(id: lead.id, eventid: event_name),
                        remote: true,
                        method: :post,
                        data: {confirm: "Are you sure?"} ) do %>
              <%= event_name.capitalize %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    </div>
  </div>
  <div class="state_toggle-agent row">
    <div class="col-md-12">
      <% if lead.user.present? %>
        <strong>Agent:</strong> <%= lead.user.name %>
      <% end %>
    </div>
  </div>
</div>
