<div class="section-header section-header--with-actions">
  <div class="section-header__content">
    <div class="section-header__icon">
      <%= glyph(:time) %>
    </div>
    <h3 class="section-header__title">Timeline</h3>
  </div>
  <div class="section-header__actions">
    <button type="button" 
            class="btn btn--teal" 
            data-toggle="collapse" 
            data-target="#lead_timeline" 
            aria-expanded="false" 
            aria-controls="lead_timeline">
      <span class="toggle-text">Show</span>
      <%= glyph(:chevron_down) %>
    </button>
  </div>
</div>

<div class="timeline-container collapse" id="lead_timeline">
  <% if comments.empty? %>
    <div class="empty-timeline">
      <span class="empty-icon"><%= glyph(:time) %></span>
      <p>No timeline events yet</p>
      <p class="text-muted">Activity will be tracked here</p>
      </div>
  <% else %>
    <div class="timeline-list">
      <% comments.order(created_at: 'desc').limit(100).each do |activity| %>
        <%= render partial: "timeline_card", locals: { activity: activity } %>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  // Toggle button text and chevron on collapse
  $('#lead_timeline').on('shown.bs.collapse', function () {
    var button = $('[data-target="#lead_timeline"]');
    button.find('.toggle-text').text('Hide');
    button.find('.glyphicon').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
    button.attr('aria-expanded', 'true');
  });
  
  $('#lead_timeline').on('hidden.bs.collapse', function () {
    var button = $('[data-target="#lead_timeline"]');
    button.find('.toggle-text').text('Show');
    button.find('.glyphicon').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
    button.attr('aria-expanded', 'false');
  });
</script>
