<div class="timeline">
  <div class="row">
    <div class="col-md-2">
      <h2>
        Timeline
        <small>
          <a href="#lead_timeline" data-toggle="collapse" aria-expanded="false" aria-controls="lead_timeline" class="btn btn-xs btn-info">More...</a>
        </small>
      </h2>
    </div>
  </div>
  <div class="row collapse" id="lead_timeline">
    <div class="col-md-12">
      <div>
        <% if comments.empty? %>
          <p class="lead" >
            None
          </p>
        <% else %>
          <div>
            <%= render partial: "notes/note", collection: comments.order(created_at: 'desc').limit(100), locals: {icons: false}  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
