  <div class="timeline">

    <div class="row">
      <div class="col-md-2">
        <h2>Timeline</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div>
          <% if comments.empty? %>
            <p class="lead" >
              None
            </p>
          <% else %>
            <div>
              <%= render partial: "notes/note", collection: comments.order(created_at: 'desc')[0..4], locals: {icons: false}  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>



  </div>
