<section class="section section--with-dropdowns">
<div class="row">
  <div class="col-md-12">
    <h1>
      Edit Lead
      <small>
        <%= @lead.name %>
      </small>
    </h1>
    <%= render 'form', lead: @lead %>
  </div>
</div>
</section>