<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>New Lead</h1>
      <%= render 'form', lead: @lead %>

    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= link_to 'Back', leads_path %>
    </div>
  </div>
</div>
