<div class="row">
  <div class="col-md-12">
    <h1><%= lead_form_header_for_entry_type(@entry_type) %></h1>
    <%= render lead_form_partial_for_entry_type(@entry_type), lead: @lead %>
  </div>
</div>
