<div class="tab-pane fade" id="stale_leads" role="tabpanel" aria-labelledby="stale-leads-tab">
  <h1>Stale</h1>
  <p>Nam vel ligula euismod, posuere purus at, venenatis sapien. Integer nec purus a est luctus varius.</p>
</div>
