<h1>
  Unclaimed Leads
  <span id="num-unclaimed-leads" class="italic">
    (<%= @dashboard_service.unclaimed_leads.count %>)
  </span>
</h1>

<div id="view-current-stats">

</div>
<div class="row">
  <div class="co-xxl-9">
    <div class="responsiveTable">
      <table class="table table-bordered table-hover" id="UnclaimedLeadsTable">
        <thead>
          <th>Date/Time</th>
          <th>Name</th>
          <th>Contact Info</th>
          <th></th>
          <th>Assign</th>
        </thead>
        <tbody>
          <%= render collection: @dashboard_service.unclaimed_leads.limit(10), partial: 'unclaimed_lead', as: :lead %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="co-xxl-3">

  </div>
</div>
<div id="unclaimed_leads">
  <%= render partial: 'unclaimed_leads' %>
</div>
<div id="active_leads">
  <%= render partial: 'active_leads' %>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $('form.lead-assignment select.form-select').on('change', function(e){
      var submit_buttons = $(e.target.parentElement).find('input[type=submit]')
      if (e.target.selectedIndex > 0) {
        submit_buttons.show()
      } else {
        submit_buttons.hide()
      }
    })
  })
</script>
