<tr>
  <td><%= glyph(:person) %></td>
  <td class="dashboard_item_date">Now</td>
  <td>
    <%= render partial: "leads/lead_card", locals: {lead: lead} %>
  </td>
  <td class="nowrap">
    <%= link_to(glyph(:show), lead_path(lead)) %>
    <%= link_to(glyph(:edit), edit_lead_path(lead)) %>
  </td>
</tr>

