<div class="col-xxl-3">
  <div id="MotivationalIcons">
    <div>
      <div class="motivational-icon">
        <img src="/icons/icon-leadspeed.svg" height="54"><br>
        <span id="LeadSpeedScore"><%= service.stats.lead_speed %></span>
      </div>
    </div>
    <div>
      <div class="motivational-icon">
        <img src="/icons/icon-tenacity.svg" height="54"><br>
        <span id="TenacityScore"></span>
      </div>
    </div>
    <!--
    <div>
      <div class="motivational-icon">
        <div id="StarDiv">
          <img src="/icons/icon-star.svg" height="54"><br>
          <span id="StarText">You're a Star!</span>
        </div>
        <div id="NotStarDiv">
          <img src="/icons/icon-star.svg" height="54"><br>
          <span id="NotStarText">Future Star</span>
        </div>
      </div>
    </div>
    <div>
      <div class="motivational-icon">
        <div id="SuperstarDiv">
          <img src="/icons/icon-superstar.svg" height="54"><br>
          <span id="SuperstarText">SUPER STAR!</span>
        </div>
        <div id="NotSuperstarDiv">
          <img src="/icons/icon-superstar.svg" height="54"><br>
          <span id="NotSuperstarText">Future Super Star</span>
        </div>
      </div>
    </div> -->
  </div>
</div>
