<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <%= glyph(:stats) %>
        Stats
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tbody>
          <tr>
            <td><strong>My Score</strong></td>
            <td><span class="badge"><%= current_user.total_score %></span></td>
          </tr>
          <tr>
            <td><strong>My Leads</strong></td>
            <td>
              <ul>
                <li>in Pipeline:  <%= current_user.leads.active.count %></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
