<div class="task-icon">
  <a href="#!" class="link-urgent">
    <%= inline_svg_tag('calendar-days.svg') %>
  </a>
</div>
<div>
  <span class="task-appt-time">10/29 9:15AM</span><br>
  <a href="#!" class="link-urgent">Schedule Appointment</a><br>
  Bart Landry
</div>
