<div id="dashboard_upcoming" class="row">
  <div class="col-md-12">

    <!-- Heading -->
    <div class="row">
      <div class="col-md-6">
        <h3>
          <%= glyph(:task) %>
          Upcoming
        </h3>
      </div>
    </div>
    <!-- End Heading -->

    <!-- Listing -->
    <div class="row">
      <div class="col-md-12">
        <span class="text-nowrap lead">
          <%= scheduled_actions.any? ? scheduled_actions.count : 'No' %> Future Tasks
        </span>
        <table class="table lead_listing">
          <thead></thead>
          <tbody>
            <%= render collection: scheduled_actions.limit(20), partial: 'scheduled_action' %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Listing -->

  </div>
</div>
