<div class="dashboard">
  <div class="dashboard__container">
    <div class="dashboard__grid">
      <!-- Main Content -->
      <div class="dashboard__main">
        <%= render partial: "today" %>
        <%= render partial: "upcoming", locals: {scheduled_actions: @upcoming_actions} %>
      </div>

      <!-- Sidebar -->
      <div class="dashboard__sidebar">
        <%= render partial: 'my_leads' %>
        <%= render partial: 'waitlist' %>
      </div>
    </div>
  </div>
</div>
