<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>Bluesky Lead Management</h1>
      <p class="lead">
        Welcome to Bluesky! Please Log in!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= image_tag('under_construction.gif', title: 'Nostalgia') %>
    </div>
  </div>
</div>
