<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Your notification preferences have been updated!</h2>
      <p>
        Feel free to <%= link_to("go back", messaging_preferences_path(id: @lead.id))%> and change your notification preferences any time.
      </p>
    </div>
  </div>
</div>
