// Place all the styles related to the LeadActions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyph_sample_glyph {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

.glyph_sample_name {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  font-size: 0.8em;
}

.glyph_sample  {
  float: left;
  width: 6em;
  height: 5em;
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: center;
  margin: 0.5em;
}

#glyph_sample_legend_toggle {
  margin-top: 2.5em;
}
