.LeadSearchSidebar {
  //margin: 1em;
}

.FilterListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 1em 1em 1em;
}

.FilterList {
  padding: 0.5em;

  ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;

    li {
      margin-left: 0em;
      padding-left: 0.25em;
    }
  }
}

.FilterListItem {
  font-weight: bold;
  font-size: 1.2em;
}
