.LeadSearch {
  padding: 10px;
  margin: 1em;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas: "LeadSearchHeader LeadSearchFilter"
                       "LeadSearchSidebar LeadSearchLeads"
                       ". LeadPagination"
                       ;
}

.LeadSearchHeader {
  grid-area: LeadSearchHeader;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
