.LeadSearchFilter {
  grid-area: LeadSearchFilter;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: end;

  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "LeadSearchInput .";
  grid-row-gap: 10px;
  grid-column-gap: 5px;
}

.FilterList {

}

