.LeadSearchSidebar {
  grid-area: LeadSearchSidebar;
  margin: 1em;
}

.FilterListContainer {
  padding: 1em;
  box-shadow: 5px 5px 5px 5px gray;
}

.FilterList {
  padding: 0.5em;

  ul {
    list-style-position: inside;
    padding-left: 0.5em;
  }
}

.FilterListItem {
  font-weight: bold;
  font-size: 1.2em;
}

@media(max-width: 765px) {
  .FilterList {
    float: left;
    border: 0px;
    margin-top: 1em;
    padding: 0.5em 1em;
  }
}
