<div class="row">
  <div class="col-md-12">
    <h1>New Unit Type</h1>
    <%= render 'form', unit_type: @unit_type %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', :back  %>
  </div>
</div>
