<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>New Lead Referral Source</h1>
      <%= render 'form', lead_referral_source: @lead_referral_source %>
    </div>
  </div>
</div>
