<section class="section">
  <div class="row">
  <div class="col-md-12">
    <h1>Edit Resident</h1>
    <%= render 'form', resident: @resident %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', residents_path  %>
  </div>
</div>
</section>