<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Reviewing Task</h2>
      <%= render 'completion_form', note: @note %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Back', :back  %>
    </div>
  </div>
</div>
