<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Reviewing Task</h2>
      <%= render partial: "summary", locals: { scheduled_action: @scheduled_action} %>
      <% unless @scheduled_action.is_completed? %>
        <%= render 'completion_form', note: @scheduled_action %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Back', :back  %>
    </div>
  </div>
</div>
