<section class="section">
<div class="row">
  <div class="col-md-12">
    <h1>Edit Task</h1>
    <%= render 'form', scheduled_action: @scheduled_action %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <%= link_to('Back', url_for(@scheduled_action.target), class: "btn btn--info btn--sm") %>
  </div>
</div>
</section>

<script type="text/javascript">
  var editor = CKEDITOR.instances["scheduled_action_notification_message"];
  if (editor == undefined) {
    CKEDITOR.replace("scheduled_action_notification_message");
  }
</script>
