<section class="section">
<h1>Editing Engagement Policy</h1>

<%= render 'form', engagement_policy: @engagement_policy %>

  <%= link_to 'Show', @engagement_policy %> |
  <%= link_to 'Back', engagement_policies_path %>
</section>
