<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Editing Unit</h1>
      <%= render 'form', unit: @unit %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Back', :back  %>
    </div>
  </div>
</div>
