.mejs__container {
  background: #337ab7 !important;
  width: 300px !important;
}

.mejs__overlay-button {
	background-image: url("/mejs-controls.svg");
}
.mejs__overlay-loading-bg-img {
	background-image: url("/mejs-controls.svg");
}
.mejs__button > button {
	background-image: url("/mejs-controls.svg");
}
