div.send_new_message_callout {
  font-size: 1.1em;
  padding: 1em;
}

tr.message_unread {
  font-weight: bold;
}

iframe#message_preview {
  width: 100%;
  scrolling: no;
  border: 0;
  margin: 1em;
}
