body {
  padding-top: 135px;
}

nav {
  background: #fff !important;
  border: none !important;
}

#main_navbar {
  background: url(asset_path("header-background-desktop")) repeat top left !important;
  background-size: auto;
  height: 115px;
  top: -2px;
  border: 0;
  margin: 0;
}

#navbar {
  position: absolute;
  bottom: 0;
}

.navbar {
  padding-left: 50px;

  .container {
    width: auto;
  }

  @media (max-width: 700px) {

    li {
      margin-left: 50px;
      width: 90%;
    }
    li a.btn {
      display: block;
      width: 250px;
    }
  }

  li:first-child a.btn {
    border-top-left-radius: 1em !important;
  }

  li:last-child button.btn {
    border-top-right-radius: 1em !important;
  }

  li .btn {
    margin-top: 10px;
    font-size: 0.9em;
    border-radius: 0;
  }

  a.btn:link, a.btn:visited {
    color: #000;
  }

  a.btn, button.btn {
    margin-top: 0;
  }


  li .btn-group {
    margin-right: 0px;
  }

  li > .btn {
    margin-right: 5px;
  }

  .btn-group .btn {
    color: #000 !important;
  }

  .btn-group .btn-primary {
    background: #fff !important;
    border: none;
  }

}
