body {
  padding-top: 60px;
}

nav {
  background: #fff !important;
  border: none !important;
}

.navbar {
  .container {
    width: auto;
  }

  @media (max-width: 700px) {
    li {
      margin-left: 50px;
      width: 90%;
    }
    li a.btn {
      display: block;
      width: 250px;
    }
  }

  .navbar-brand {
    font-size: 1.5em;
  }


  li .btn {
    margin-top: 10px;
    font-size: 0.9em;
  }

  a.btn:link, a.btn:visited {
    color: #000;
  }


  li .btn-group {
    margin-right: 0px;
  }

  li > .btn {
    margin-right: 5px;
  }

  .btn-group .btn {
    color: #000 !important;
  }

  .btn-group .btn-primary {
    background: #fff !important;
    border: none;
  }

}
