@media (min-width: 768px){
  body {
    padding-top: 135px;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}

#main_navbar {
  background: #fff !important;
  border: none !important;
  top: -2px;
  margin: 0;

  @media (min-width: 768px){
    height: 115px;
    background: url(asset_path("header-background-desktop")) repeat top left !important;
    background-size: auto;
  }

  @media (max-width: 767px) {
    background: #aaa !important;
    background: url(asset_path("header-background-tablet")) repeat top left !important;
    background-size: auto;
  }

  .navbar-header {
    .navbar-branding {
      float: left;
      padding: 10px;

      @media (min-width:768px) {
        padding-top: 20px;
      }

      @media (min-width: 680px) {
     //   padding: 20px 0 0 10px;
      }

      .logo {
        @media (min-width: 680px) {
          float: left;
        }
      }

      .appname {


        color: white;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16pt;
        text-transform: uppercase;

        @media (min-width: 680px) {
          float: left;
          border-left: 0.2px solid #fff;
          margin-left: 30px;
          //padding-left: 30px;
          padding: 5px 0 5px 30px;
        }


        .part-1 {
          letter-spacing: 6px;
          font-weight: bold;
        }

        .part-2 {
          letter-spacing: 4px;
          font-weight: lighter;
        }
      }


    }
  }
}

#navbar {
  @media (min-width: 768px){
    height: 115px;
    position: absolute;
    bottom: 0;
  }

  .btn-group-vertical {
    li {
      border: 1px solid red;
    }
  }

  padding-left: 20px;

  .container {
    width: auto;
  }


  @media (min-width: 768px){
    li:first-child a.btn {
      border-top-left-radius: 1em !important;
    }

    li:last-child button.btn {
      border-top-right-radius: 1em !important;
    }
  }

  li .btn {
    margin-top: 10px;
    font-size: 0.9em;
    border-radius: 0;
  }

  a.btn:link, a.btn:visited {
    color: #000;
  }

  a.btn, button.btn {
    margin-top: 0;
  }


  li .btn-group {
    margin-right: 0px;
  }

  li > .btn {
    margin-right: 5px;
  }

  .btn-group .btn {
    color: #000 !important;
  }

  .btn-group .btn-primary {
    background: #fff !important;
    border: none;
  }

  .dropdown-menu {
    border: none;
    margin: 0;
  }

}
