// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$active-row: #fff;
$inactive-row: #ccc;

tr.property-table-row-active {
  background: $active-row;
}

tr.property-table-row-inactive td {
  font-style: italic;
  color: $inactive-row;
}

.property-listing-form-source-name {
  font-size: 1.2em;
  text-align: right;
}

#property-header {
  padding: 1em 1em 0.3em 1em;
  position: relative;
  top: -10px;

  h2 { margin: 0; }
  h4 { margin: 0; display: inline;}

  .btn-xs {
    position: relative;
    top: -2px;
  }
}

