.scheduled_action_calendar_entry {
  font-size: 0.8em;
  line-height: 1em;
  padding-bottom: 1em;
}

.scheduled_action_calendar_scheduled_action_action,
  .scheduled_action_calendar_scheduled_action_subject
{
  white-space: nowrap;
}

#schedule_conflict_message {
  padding: 0.25em;
  font-size: 0.8em;
  font-weight: bold;
  visibility: hidden;
}

.scheduling_conflict {
  border: 2px solid red !important;
  visibility: visible !important;
}

.lead_task_completed {
  display: none;
}
