td.first-column {
  font-size: 1.2em;
  font-weight: bold;
}

.pagination_container {
  padding: 1em 0.5em 0.5em 0.5em;
  margin: 1em auto;
}

.nowrap {
  white-space: nowrap;
}

dt {
  font-size: 1.3em;
  font-weight: normal !important;
}

dd {
  padding-left: 1em;
}

h1, h2, h3, h4 {
  color: #337ab7 !important;
  opacity: 0.8;
}
