div.team_membership_control {
  padding: 0.25em;

  h4 {
    font-size: 1.1em;
    font-weight: bold;
    color: black !important;
  }
}

#team-header {
  padding: 0em 1em 0.3em 1em;
  position: relative;
  top: 10px;
  margin-bottom: 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  h2 { margin: 0; }

  h4 {
    display: inline;
  }

  h5 {
    line-height: 1.5em;
    display: inline;
  }

  .btn-xs {
    position: relative;
    top: -2px;
  }

  .team-header-property {
    padding: 0.5em;
  }

  .team-header-name {
    padding: 0.5em 1em;
    margin-bottom: 0;
  }
}
