// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.team_membership_control {
  padding: 0.25em;

  h4 {
    font-size: 1.1em;
    font-weight: bold;
    color: black !important;
  }
}

#team-header {
  padding: 1em 1em 0.3em 1em;
  position: relative;
  top: -10px;

  h2 { margin: 0; }
  h4 { margin: 0; display: inline;}
  h5 { margin: 0; display: inline;}

  .btn-xs {
    position: relative;
    top: -2px;
  }
}
